#gallery-holder{
    background-color: rgb(240, 242, 245) ;
    padding: 10px;
    border-top: .5px solid rgb(198, 200, 201);
    display: flex;
    justify-content: center;
}

#gallery-ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    
    max-width: 600px;
}
